cron_logs.txt

config.json

model_components/

weather_data/

daily_update.log

venv/

logs/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/.elasticbeanstalk
/.ebextensions
/.ebignore
/fwi_predictions.json
/Procfile
/requirements.txt
/model_info.json
/forest-fire-api.zip
/deployment.zip